table {
    table-layout: fixed; 
    border:solid #d8dde6 1px;
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
}

table, th, td {
    height: 50px;
    vertical-align: middle !important;
    text-align:center !important;
    border: 1px solid #ccc;
}
.slds-input {
    width: 80% !important;
}
.assign-button {
    margin-bottom: 15px;
}